/*MOBILE FIRST*/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/* HEADER */
.menu-desktop {
    display: none;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
}
#inscrire{
    text-decoration: none;
    color: #0065FC;
    font-weight: 600;
}

/* MENU MOBILE */
.menu-desktop {
    display: none;
}
#menu-mobile {
    display: flex;
    justify-content: space-around;
}
#menu-mobile a {
    text-decoration: none;
    color: #1f1f1f;
}

/* BORDURES EN DEUX COULEURS */
.item-menu-border {
    border-bottom: #f2f2f2 3px solid;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.item-menu-actif:hover {
    border-color: #0065FC;
}
#menu-mobile a:hover {
    color: #0065FC;
}

/* MODICFICATION PREMIÈRE SECTION */
.content-padding-mobile {
    width: 90%;
    padding: 20px;
    margin: 0;
}
h1 {
    font-size: 1.35em;
    font-weight: 600;
    margin: 10px 0;
}
#subtitle-1 {
    font-weight: normal;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*zone de saisie*/
#search-word {
    display: none;
}
.search-box {
    display: flex;
    border: 1px solid #f2f2f2;
    border-radius: 10px; 
    margin-bottom: 30px;
    max-width: 410px;
}
.icon-position {
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -2px;
    font-size: 1.1em;
}
.button-search {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: relative;
    left: 2px;
    font-size: 1em;
}
#search {
    height: 46px;
    border: none;
    padding-left:15px;
    width: 100%;  
    font-size: 15px;
}
.search-input {
    flex-grow: 1;
}
#search:focus-visible {
    outline: none;
}
button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/*FILTRES*/
#filtres {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.filtre {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 46px;
    border: 2px solid #d9d9d9;
    border-radius: 35px;
    margin-bottom: 13px;
    margin-right: 10px;
}
.filtre-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -2px;
}
.filtre-name {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    padding-left: 11px;
    padding-right: 22px;
    font-weight: 800;    
}
.color-blue {
    color: #0065FC;
}
h2 {
    font-size: 1.3em;
}
.filtre:hover { 
    background-color: #eaf1fa;
}

/*INFO*/
#info {
    display: flex;
    align-items: baseline;
    margin-top: 15px;
    margin-bottom: 30px;
}
#info-icon {
    min-width: 24px;
    min-height: 24px;
    border-radius: 15px;
    border: 1px #d9d9d9 solid ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    margin-right: 10px;
}
.fa-info {
    font-size: 0.75em;
}
#subtitle-2 {
    font-size: 0.95em;
}

/*ASIDE*/
aside {
    background: #f2f2f2;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 25px;
}
#header-aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 15px;
}
.fa-chart-line {
    font-size: 1.5em;
}
#aside-content {
    width: 85%;
    margin: auto;
}
.card {
    max-width: 100%;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #d9d9d9;
    overflow: hidden;  
}
.post-aside {
    height: 145px;
    border: 4px #ffffff solid;
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
}
.picture-aside {
    width: 40%;
    height: 145px;
    object-fit: cover;
}
.subtitles-aside {
    flex-basis: 45%;
    margin: 9px 20px;
    position: relative;
}
.subtitle-3 {
    font-size: 1em;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}
.subtitle-4 {
    font-size: 0.85em;
    
}
.star-aside {
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
}
.color-grey {
    color: #d9d9d9;
}

/*HEBERGEMENT*/
#hebergement-content {
    width: 85%;
    margin: auto;
    margin-top: 40px;
}
.card {
    max-width: 100%;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #d9d9d9;
    overflow: hidden;  
}
.post-hebergement {
    height: 200px;
    border: 4px #ffffff solid;
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    margin-bottom: 10px;
}
.picture-hebergement {
    height: 115px;
    width: 100%;
    object-fit: cover;
}
.subtitles {
    margin: 10px 15px;
    position: relative;
}
.subtitle-5 {
    margin-top: 0;
    margin-bottom: 2.5px;
    font-size: 1.1em;
}
.subtitle-6 {
    font-size: 0.9em;
}
.star-hebergement {
    font-size: 0.65em;
    position: absolute;
    bottom: -24px;
}
#ancre-hebergement {
    margin-top: 25px;
    margin-bottom: 25px;
}
h4 {
    font-size: 1.1em;
    font-weight: 700;
    padding-top: 15px;
}

/*ACTIVITE*/
#activity-content {
    width: 85%;
    margin: auto;
    margin-top: 50px;
}

.card {
    width: 100%;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #d9d9d9;
    overflow: hidden;  
}
.post-activity {
    height: 190px;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin-bottom: 10px;
}
.picture-activity {
    height: 135px;
    width: 100%;
    object-fit: cover;
}
.subtitle-7 {
    font-size: 1em;
    font-weight: 700;
    margin: 20px;
    
}
#ancre_activity {
    margin-bottom: 20px;
}
/*FOOTER*/
footer {
    background: #f2f2f2;
    margin-top: 30px;
}
.footer-content {
    width: 85%;
    margin: auto;
}
ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}
#bloc-footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.link {
    text-decoration: none;
    color: #000000;
    font-size: 0.9em;
}
.line-height {
    line-height: 2em;
}
h5 {
    font-size: 1em;
    margin-bottom: 15px;
}

/*DESKTOP VIEW*/
@media screen and (min-width: 800px) {
    .content-padding-desktop {
        padding:0px 50px 50px 50px;
    }
    .content-padding-mobile {
        padding: 0;
    }
    /*HEADER*/
    #menu-mobile {
        display: none;
    }
    .menu-desktop {
        display: block;
        text-decoration: none;
        color: #1f1f1f;
    }
    nav ul {
        display: flex;
        align-items: center;
    }
    nav ul li a {
        padding: 40px;
    }
    .item-menu-desktop {
        border-top: 3px solid rgb(255, 255, 255);
    
    }
    .item-menu-desktop-actif:hover {
        border-color: #0065FC;  
    }
    .menu-desktop:hover {
        color: #0065FC;
    }
    #header {
        padding: 0;
        margin-bottom: 0;
        align-items: center;
    }

    /*ZONE DE SAISIE*/
    #icon-search {
        display: none;
    }
    #search-word {
        display: inline;
        font-weight: 600;
    }
    .button-search {
        width: 125px;
        padding: 0 15px;
        border-radius: 0 10px 10px 0;
    }
    /*FILTRE*/
    #filtre-content {
        display: flex;
        align-items: baseline;
    }
    #filtres {
        margin-left: 30px;
    }
    .filtre {
        margin-right: 25px;
    }
    /*INFO*/
    #info {
        align-items: baseline;
        margin-bottom: 10px;
    }
    /*HEBERGEMENT + ASIDE*/
    #aside-hebergement {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    /*HEBERGEMENT*/
    #hebergement-content {
        background: #f2f2f2;
        width: 65%;
        border-radius: 20px;
        padding: 30px 30px 30px 30px;
        margin-top: 0;
    }
    #all-post-hebergement {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .post-hebergement {
        width: 30%;
        margin-bottom: 15px;
        margin-right: 10px;
    }
    .picture-hebergement {
        width: 100%;
    }
    #ancre-hebergement {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h4 {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .subtitle-5 {
    font-size: 1em;
    }
    /*ASIDE*/
    aside {
        width: 25%;
        border-radius: 20px;
        padding: 30px 30px 0 30px;
        margin-left: 40px;
    }
    #aside-content {
        width: 100%;
    }
    .post-aside {
        margin-bottom: 30px;
    }
    .subtitle-3 {
        font-size: 1em;
    }
    /*ACTIVITE*/
    #activity-content {
        width: 100%;
    }
    .post-activity {
        height: 100%;
    }
    .picture-activity {
        flex-grow: 1;
    }
    .subtitle-7 {
       font-size: 0.95em;
    }

    .grid {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(4, 22.5%);
        grid-template-rows: repeat(4, 80px);
        grid-column-gap: 40px;
        grid-row-gap: 40px;  
    }
    .card1 { 
        grid-column: 1;
        grid-row: 1 / 5;
    }
    .card2 {
        grid-column: 2;
        grid-row: 1 / 3 ;
    }
    .card3 {
        grid-column: 2;
        grid-row: 3 / 5;
    }
    .card4 {
        grid-column: 3;
        grid-row: 1 / 5;
    }
    .card5 {
        grid-column: 4;
        grid-row: 1 / 3;
    }
    .card6 {
        grid-column: 4;
        grid-row: 3 / 5;
    }

    /*FOOTER*/
    .footer-content {
        width: auto;
        margin: 0;
    }
    #bloc-footer {
        flex-direction: row;
        padding: 30px 0;
    }
    #bloc-footer > div {
        flex-grow: 1;
    }
}
@media screen and (min-width: 500px) and (max-width: 799px) {
    #filtre-content {
        display: flex;
        align-items: baseline;
    }
    h2 {
        padding-right: 15px;
    }
    #info {
        align-items: baseline;
    }
    .content-padding-mobile {
        padding-bottom: 0;
    }
    #aside-content {
        width: 80%;
    }
    .post-hebergement {
        width: 45%;
        margin: auto;
        margin-bottom: 15px;
    }
    #all-post-hebergement {
        display: flex;
        flex-wrap: wrap;
    }
    .subtitle-5 {
        font-size: 0.9em;
    }
    .subtitle-6 {
        font-size: 0.85em;
    }
    #hebergement-content #activity-hebergement {
        width: 80%;
    }
    .post-activity{
        width: 45%;
        margin: auto;
        margin-bottom: 15px;
    }
    .all-post-activity {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .footer-content {
        width: 80%;
    }
    #bloc-footer {
        flex-direction: column;
        padding: 30px 0;
    }
    #bloc-footer > div {
        flex-grow: 1;
    }
}
/*SMALL DESKTOP*/
@media screen and (min-width: 800px) and (max-width: 1023px){
    nav ul li a {
        padding: 40px 20px;
    }
    #aside-hebergement {
        flex-direction: column;
    }
    #all-post-hebergement {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #hebergement-content {
        width: auto;
        margin-bottom: 25px;
        padding: 30px 15px 30px 30px;
    }
    
    .post-hebergement {
        width: 45%;
        margin-right: 20px;
    }
    .subtitle-5 {
        font-size: 0.95em;
    }
    .subtitle-6 {
        font-size: 0.85em;
    }
    aside {
        width: auto;
        margin-left: 0;
        margin-bottom: 40px;
        padding: 20px 15px 20px 15px;
    }
    #all-post-aside {
        display: flex;
    }
    #header-aside {
        margin-left: 5px;
        margin-right: 5px;
    }
    .post-aside {
        margin-right: 10px;
    }
    .picture-aside {
        width: 37%;
    }
    .subtitle-3 {
        font-size: 0.85em;
    }
    .subtitle-4 {
        font-size: 0.75em;
    }
    #activity-content {
        width: auto;
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
        grid-row-gap: 0px;
    }
    .post-activity {
        width: 45%;
        margin-right: 5px;
    }
        
}
/*MEDIUM DESKTOP*/
@media screen and (min-width: 1024px) and (max-width: 1290px){

    .post-hebergement {
        width: 46%;
        margin-right: 0;
    }
    aside {
        width: 33%;
    }
    .subtitle-3 {
        font-size: 0.9em;
    }
    .grid {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}
    